@model Question.Qustion




<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.TypeOfQuestion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <h3>@SurveyWebSite.Resources.Resource.SureForDelete</h3>
    <br />
    <input type="submit" value="Yes" class="btn btn-default" />
    <input type="button" class="btn btn-default" onclick="goBack()" value="Cancel">
</div>
    }
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
