@model IEnumerable<Question.Qustion>

@{
    ViewBag.Title = "list Of Question";
}

<h2>Question List</h2>
<br />

<table class="table" style="border: 1px solid black; background-color:silver">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NewText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfQuestion)
        </th>

        

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NewText)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Order)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TypeOfQuestion)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
 
}

</table>
<p>

    @Html.ActionLink("Create New Question Type Slider", "CreateSlider")

</p>
<p>

    @Html.ActionLink("Create New Question Type Smile", "CreateSmile")
    
</p>
<p>

    @Html.ActionLink("Create New Question Type Star", "CreateStar")

</p>